.safelog {
    width: 250px;
    height: 59px;
    position: absolute;
    left: 460px;
    top: 0px;}

.qroolog {
    width: 170px;
    height: 77px;
    position: relative;
    left: 30px;
    top: 0px;
}

.tittles {
    position: relative;
    left: 30px;
    top: 1px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.tittles2 {
    position: relative;
    left: 30px;
    top: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.textp {
    text-align:center;
}

.margintxt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margintab {
    margin-bottom: 10px;
    margin-top: 0px;
}

.margintab2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.dimtable2 {
    width:95%;
    position: relative;
    left: 15px;
    top: 0px;
}

.dimtable {
    width:680px;
    position: relative;
    left: 15px;
    top: 0px;
}

.bordertable {
    border-style: solid;
    border-width: 0.5px;
}

.bordertable2 {
    border-style: solid;
    border-width: 0.5px;
    border-collapse: collapse;
}

.bordertable3 {
    border-collapse: collapse;
}

.bordertable3 {
    border-collapse: collapse;
}

.bordertable4 {
    border-bottom: 0.5px solid dark;
}


.titulo {
    text-align:center;
    white-space:nowrap;
}

.dimtext {
    font-size: 12px;
    text-transform: uppercase;
}

.upper {
    font-size: 14px;
    text-transform: uppercase;
}

.upper2 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.dimtittle {
    font-size: 14px;
    text-transform: uppercase;
}

.font {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.font2{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.space {
    width:76px;
}

.space9 {
    width:76px;
    text-align: left;
}

.space2 {
    width:215px;
}

.space3 {
    width:10px;
}

.space8 {
    width:10px;
    text-align: left;
}

.space5 {
    width: 450px;

}

.sign {
    margin-top: 70px;
}

.color {
    background-color:#BCBCBC;
    color: dark;
}

.w20 {
    width:20%
}

.w10 {
    width:10%
}

.w15 {
    width:15%
}

.w30 {
    width:30%
}









